@model ControllerDemo.Controllers.RenderViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RenderViewTest</title>
</head>
<body>
    <div>
        <h4>ID: @Model.Id</h4>
        <h4>Streng: @Model.Streng</h4>
    </div>
</body>
</html>
