
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test11</title>
</head>
<body>
    <div> 
        <a href="/Home/Test11?id=1&navn=dasd&alder=10">Link</a>
    </div>
</body>
</html>
