<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Min app</title>
</head>
<body>
    <div>
        <h1>Min app</h1>
        @RenderSection("Menu", true)
        <hr />
        @RenderBody()
        <hr />
        <h4>Min footer</h4>
    </div>
</body>
</html>
