
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Salg</title>
</head>
<body>
    <div> 
        <h1>Salg</h1>
        <h2>Kundeid: @ViewBag.kundeid</h2>
    </div>
</body>
</html>
